# Build artifacts
firmware/build/
client-console/bin/
client-console/obj/
client-cli/bin/
client-cli/obj/
app/**/bin/
app/**/obj/


# LittleFS data
data/

# IDE
.vscode/
.vs/
*.code-workspace
*.user
*.suo

# OS
Thumbs.db
.DS_Store
nul

# Temp
*.tmp
